$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

/*$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;*/


/* Couleur menu principal */
$color__linkmenu: #191970; 
$color__linkmenu-visited: #E0FFFF;  
$color__linkmenu-hover: #FFF0F5; 

/* Couleur titre des cours */
$color__linkCours: #2F4F4F; 
$color__linkCours-visited: #008080; 
$color__linkCours-hover: #8FBC8F; 




$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
