/*------------- AJOUT SCSS DANS LE FORMULAIRE DE NOUVELLES  ---------------*/
.admin-rapid{
    display: flex;
    flex-direction: column;

    h3{
        color: #696969;
        text-align: center;
    }

    input{
        background-color: #D8FDD8;
        border: 1px solid #8FBC8F;
        //width: 50vw;
    }
    
    textarea{
        background-color: #D8FDD8;
        border: 1px solid #8FBC8F;
        margin-top: 5px;
        //width: 50vw;
    }
    
    button{
        background-color: #8FBC8F;
        border: #2F4F4F;
        color: #2F4F4F;
        margin-top: 10px;
    }

    button:hover{
        background-color: #D8FDD8;
        border: #2F4F4F;
        cursor: pointer;
    }
}