/*------------- AJOUT D'ESPACE GAUCHE/DROITE POUR LE SIDEBAR  ---------------*/
#secondary{
	padding-left: 4%;
	padding-right: 4%;
}

/*------------- CHANGEENT DE COULEUR POUR LE TITRE  ---------------*/
.widget-title{
	//margin-top: 5rem;
	color: #2F4F4F;
}