.site {
	display: grid;

	/*------------- AJOUT D'UNE VERSION MOBILE ET DESKTOP ---------------*/
	//VERSION MOBILE DU SIDEBAR
	grid-template-columns: 100%;
	grid-template-areas:
		"header header"
		"main main"
		"sidebar sidebar"
		"footer footer";

	//VERSION DESKTOP DU SIDEBAR
	@include desktop{
		grid-template-columns: 80% 20%;
		grid-template-areas:
			"header header"
			"main sidebar"
			"footer footer";
	}
}

.site-header {
	grid-area: header;
	height: 32vh;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

/*------------- AJOUT D'UNE COULEUR DE FOND POUR LE SIDEBAR  ---------------*/
.widget-area {
	grid-area: sidebar;
	margin-left: 2rem;
    background-color: #FDE0D9;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
