/*-------------
    ANIMATION DU HEADER DE LA PAGE 
---------------*/

header .site-title{
    animation: anim-1 1s both .5s;
}

@keyframes anim-1{
    0%{transform: translateY(-500px);}
    100%{transform: translateY(0);}
}

header .site-description{
    animation: anim-2 1s both 1.5s;
}

@keyframes anim-2{
    0%{transform: translateX(-250px);}
    100%{transform: translateX(0);}
}


/*-------------
    ANIMATION TITRES DE CHAQUE PAGES 
---------------*/

header .entry-title{
    animation: anim-3 1s both 2s;
}

@keyframes anim-3{
    0%{transform: translateY(500px);}
    100%{transform: translateY(0);}
}



